<div class="container pt-4">
  <div class="row justify-content-md-center">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">Parola Oluşturucu</div>
        <div class="card-body">
          <div class="input-group mb-3">
            <span class="input-group-text">Şifre Uzunluğu</span>
            <input
              type="number"
              class="form-control"
              [value]="uzunluk"
              (change)="uzunlukChange($event)"
              min="1"
            />
          </div>

          <div class="form-check">
            <label class="form-check-label">
              <input
                class="form-check-input"
                type="checkbox"
                value="alfabe"
                (change)="chChange($event)"
              />
              Alfabeyi Kullan
            </label>
          </div>

          <div class="form-check">
            <label class="form-check-label">
              <input
                class="form-check-input"
                type="checkbox"
                value="sayi"
                (change)="chChange($event)"
              />
              Sayıları Kullan
            </label>
          </div>

          <div class="form-check">
            <label class="form-check-label">
              <input
                class="form-check-input"
                type="checkbox"
                value="sembol"
                (change)="chChange($event)"
              />
              Sembolleri Kullan
            </label>
          </div>

          <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
            <button
              [disabled]="
                !(uzunluk && (tips.alfabe || tips.sayi || tips.sembol))
              "
              class="btn btn-primary"
              type="button"
              (click)="olusturBtnClick()"
            >
              Oluştur
            </button>
          </div>

          <div class="input-group" *ngIf="parola.length > 0">
            <span class="input-group-text">Şifreniz</span>
            <input type="text" class="form-control" [value]="parola" readonly />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
